In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 50
pd.options.display.max_rows = 100

In [2]:
astros2016 = pd.read_csv("data/HOU2016.csv")
astros2017 = pd.read_csv("data/HOU2017.csv")
astros2018 = pd.read_csv("data/HOU2018.csv")
astros2019 = pd.read_csv("data/HOU2019.csv")
yankees2017 = pd.read_csv("data/NYY2017.csv")

In [3]:
astros2017.head(30)

,Unnamed: 0,Gtm,Date,Unnamed: 3,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
0,0,1.0,Apr 3,NaN,SEA,"W,3-0",30.0,27.0,3.0,6.0,0.0,0.0,2.0,3.0,1.0,0.0,6.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.222,0.241,0.444,0.686,3.0,10.0,R,F.Hernandez(55)
1,1,2.0,Apr 4,NaN,SEA,"W,2-1",29.0,26.0,2.0,5.0,0.0,0.0,2.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.208,0.259,0.434,0.693,3.0,10.0,R,H.Iwakuma(55)
2,2,3.0,Apr 5,NaN,SEA,"W,5-3",55.0,51.0,5.0,13.0,4.0,0.0,1.0,5.0,3.0,0.0,9.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.231,0.277,0.413,0.690,12.0,11.0,L,J.Paxton(72)
3,3,4.0,Apr 6,NaN,SEA,"L,2-4",36.0,32.0,2.0,6.0,0.0,0.0,2.0,2.0,3.0,1.0,10.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.221,0.277,0.404,0.681,7.0,11.0,L,A.Miranda(50)
4,4,5.0,Apr 7,NaN,KCR,"L,1-5",33.0,30.0,1.0,6.0,1.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.217,0.276,0.373,0.650,5.0,10.0,L,J.Vargas(61)
5,5,6.0,Apr 8,NaN,KCR,"L,3-7",35.0,32.0,3.0,9.0,1.0,0.0,1.0,3.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,0.227,0.287,0.379,0.666,5.0,10.0,L,D.Duffy(54)
6,6,7.0,Apr 9,NaN,KCR,"W,5-4",51.0,41.0,5.0,12.0,0.0,0.0,3.0,5.0,8.0,2.0,7.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,0.238,0.312,0.402,0.714,11.0,12.0,R,N.Karns(54)
7,7,8.0,Apr 10,@,SEA,"L,0-6",35.0,32.0,0.0,6.0,1.0,0.0,0.0,0.0,3.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.232,0.306,0.380,0.686,8.0,9.0,L,J.Paxton(75)
8,8,9.0,Apr 11,@,SEA,"W,7-5",42.0,39.0,7.0,14.0,2.0,0.0,1.0,7.0,3.0,0.0,10.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.248,0.318,0.394,0.711,8.0,11.0,L,A.Miranda(42)
9,9,10.0,Apr 12,@,SEA,"W,10-5",46.0,39.0,10.0,16.0,3.0,0.0,0.0,9.0,6.0,2.0,4.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.266,0.337,0.404,0.741,9.0,10.0,R,Y.Gallardo(35)
10,10,11.0,Apr 14,@,OAK,"W,7-2",44.0,37.0,7.0,10.0,3.0,0.0,1.0,5.0,4.0,0.0,3.0,2.0,0.0,1.0,2.0,0.0,2.0,0.0,0.267,0.339,0.407,0.746,10.0,10.0,R,K.Graveman(51)
11,11,12.0,Apr 15,@,OAK,"W,10-6",44.0,32.0,10.0,8.0,0.0,0.0,1.0,7.0,8.0,0.0,9.0,2.0,1.0,1.0,1.0,1.0,5.0,0.0,0.266,0.347,0.402,0.749,7.0,14.0,L,S.Manaea(62)
12,12,13.0,Apr 17,NaN,LAA,"W,3-0",32.0,29.0,3.0,9.0,2.0,0.0,0.0,3.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.268,0.346,0.400,0.747,5.0,10.0,R,J.Chavez(60)
13,13,14.0,Apr 18,NaN,LAA,"L,2-5",36.0,35.0,2.0,11.0,1.0,0.0,2.0,2.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.272,0.346,0.409,0.754,7.0,10.0,R,R.Nolasco(51)
14,14,15.0,Apr 19,NaN,LAA,"W,5-1",33.0,29.0,5.0,9.0,2.0,1.0,1.0,5.0,2.0,0.0,9.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.274,0.347,0.417,0.764,4.0,10.0,R,J.Ramirez(52)
15,15,16.0,Apr 20,NaN,LAA,"W,2-1",29.0,27.0,2.0,3.0,1.0,0.0,2.0,2.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.266,0.339,0.414,0.753,3.0,10.0,R,M.Shoemaker(68)
16,16,17.0,Apr 21,@,TBR,"W,6-3",39.0,35.0,6.0,11.0,3.0,0.0,1.0,5.0,3.0,0.0,9.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.269,0.340,0.419,0.759,6.0,10.0,R,A.Cobb(44)
17,17,18.0,Apr 22,@,TBR,"L,3-6",34.0,29.0,3.0,4.0,0.0,0.0,2.0,3.0,5.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.262,0.336,0.415,0.752,4.0,10.0,L,B.Snell(48)
18,18,19.0,Apr 23,@,TBR,"W,6-4",43.0,37.0,6.0,12.0,0.0,0.0,2.0,6.0,5.0,0.0,5.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.266,0.340,0.419,0.759,7.0,13.0,R,M.Andriese(45)
19,19,20.0,Apr 25,@,CLE,"W,4-2",38.0,36.0,4.0,11.0,2.0,0.0,0.0,4.0,1.0,0.0,8.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.268,0.340,0.416,0.756,7.0,12.0,R,J.Tomlin(50)
20,20,21.0,Apr 26,@,CLE,"L,6-7",40.0,36.0,6.0,8.0,2.0,0.0,2.0,6.0,3.0,0.0,13.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.266,0.338,0.418,0.756,7.0,9.0,R,T.Bauer(50)
21,21,22.0,Apr 27,@,CLE,"L,3-4",40.0,36.0,3.0,11.0,3.0,0.0,1.0,3.0,4.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.268,0.340,0.420,0.760,10.0,11.0,R,C.Kluber(55)
22,22,23.0,Apr 28,NaN,OAK,"W,9-4",41.0,36.0,9.0,14.0,4.0,0.0,1.0,9.0,2.0,0.0,5.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.273,0.343,0.428,0.771,8.0,9.0,R,J.Cotton(28)
23,23,24.0,Apr 29,NaN,OAK,"L,1-2",34.0,32.0,1.0,7.0,0.0,0.0,1.0,1.0,0.0,0.0,9.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.271,0.340,0.423,0.763,6.0,11.0,R,A.Triggs(76)
24,24,25.0,Apr 30,NaN,OAK,"W,7-2",36.0,33.0,7.0,10.0,2.0,0.0,1.0,7.0,1.0,0.0,8.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.272,0.340,0.425,0.765,5.0,9.0,R,J.Hahn(48)
25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,26.0,May 1,NaN,TEX,"W,6-2",38.0,33.0,6.0,8.0,3.0,0.0,0.0,5.0,3.0,0.0,4.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.271,0.340,0.421,0.761,8.0,10.0,R,A.Cashner(55)
27,27,27.0,May 2,NaN,TEX,"W,8-7",38.0,35.0,8.0,11.0,1.0,0.0,3.0,8.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.273,0.341,0.428,0.769,6.0,10.0,L,A.Claudio(43)
28,28,28.0,May 3,NaN,TEX,"W,10-1",40.0,36.0,10.0,13.0,3.0,0.0,4.0,10.0,3.0,0.0,1.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.276,0.343,0.441,0.785,6.0,10.0,R,N.Martinez(21)
29,29,29.0,May 4,NaN,TEX,"L,4-10",47.0,35.0,4.0,10.0,1.0,0.0,1.0,4.0,10.0,0.0,11.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.277,0.347,0.440,0.787,16.0,10.0,R,A.Griffin(55)

In [4]:
def boolhome(df):
    df.dropna(axis="index", how="all", inplace=True, subset=['Gtm'])
    df.rename(columns={"Unnamed: 3":"Home"}, inplace=True)
    df.replace({"Home":{"@": False, np.nan: True}}, inplace=True)
    df.drop("Unnamed: 0", axis=1, inplace=True)
    return df

In [5]:
# astros2017df[astros2017df.RBI != np.nan]

In [6]:
# df = df[df.RBI != NaN]

In [7]:
astros2017df = boolhome(astros2017)
astros2018df = boolhome(astros2018)
astros2019df = boolhome(astros2019)
astros2016df = boolhome(astros2016)
yankees2017df = boolhome(yankees2017)

In [8]:
astros2017df.dtypes

Gtm                     float64
Date                     object
Home                       bool
Opp                      object
Rslt                     object
PA                      float64
AB                      float64
R                       float64
H                       float64
2B                      float64
3B                      float64
HR                      float64
RBI                     float64
BB                      float64
IBB                     float64
SO                      float64
HBP                     float64
SH                      float64
SF                      float64
ROE                     float64
GDP                     float64
SB                      float64
CS                      float64
BA                      float64
OBP                     float64
SLG                     float64
OPS                     float64
LOB                     float64
#                       float64
Thr                      object
Opp. Starter (GmeSc)     object
dtype: object

In [9]:
# astros2017df.dropna(axis="index", how="all", inplace=True)

In [10]:
astros2017df.head(30)

,Gtm,Date,Home,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
0,1.0,Apr 3,True,SEA,"W,3-0",30.0,27.0,3.0,6.0,0.0,0.0,2.0,3.0,1.0,0.0,6.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.222,0.241,0.444,0.686,3.0,10.0,R,F.Hernandez(55)
1,2.0,Apr 4,True,SEA,"W,2-1",29.0,26.0,2.0,5.0,0.0,0.0,2.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.208,0.259,0.434,0.693,3.0,10.0,R,H.Iwakuma(55)
2,3.0,Apr 5,True,SEA,"W,5-3",55.0,51.0,5.0,13.0,4.0,0.0,1.0,5.0,3.0,0.0,9.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.231,0.277,0.413,0.690,12.0,11.0,L,J.Paxton(72)
3,4.0,Apr 6,True,SEA,"L,2-4",36.0,32.0,2.0,6.0,0.0,0.0,2.0,2.0,3.0,1.0,10.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.221,0.277,0.404,0.681,7.0,11.0,L,A.Miranda(50)
4,5.0,Apr 7,True,KCR,"L,1-5",33.0,30.0,1.0,6.0,1.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.217,0.276,0.373,0.650,5.0,10.0,L,J.Vargas(61)
5,6.0,Apr 8,True,KCR,"L,3-7",35.0,32.0,3.0,9.0,1.0,0.0,1.0,3.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,0.227,0.287,0.379,0.666,5.0,10.0,L,D.Duffy(54)
6,7.0,Apr 9,True,KCR,"W,5-4",51.0,41.0,5.0,12.0,0.0,0.0,3.0,5.0,8.0,2.0,7.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,0.238,0.312,0.402,0.714,11.0,12.0,R,N.Karns(54)
7,8.0,Apr 10,False,SEA,"L,0-6",35.0,32.0,0.0,6.0,1.0,0.0,0.0,0.0,3.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.232,0.306,0.380,0.686,8.0,9.0,L,J.Paxton(75)
8,9.0,Apr 11,False,SEA,"W,7-5",42.0,39.0,7.0,14.0,2.0,0.0,1.0,7.0,3.0,0.0,10.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.248,0.318,0.394,0.711,8.0,11.0,L,A.Miranda(42)
9,10.0,Apr 12,False,SEA,"W,10-5",46.0,39.0,10.0,16.0,3.0,0.0,0.0,9.0,6.0,2.0,4.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.266,0.337,0.404,0.741,9.0,10.0,R,Y.Gallardo(35)
10,11.0,Apr 14,False,OAK,"W,7-2",44.0,37.0,7.0,10.0,3.0,0.0,1.0,5.0,4.0,0.0,3.0,2.0,0.0,1.0,2.0,0.0,2.0,0.0,0.267,0.339,0.407,0.746,10.0,10.0,R,K.Graveman(51)
11,12.0,Apr 15,False,OAK,"W,10-6",44.0,32.0,10.0,8.0,0.0,0.0,1.0,7.0,8.0,0.0,9.0,2.0,1.0,1.0,1.0,1.0,5.0,0.0,0.266,0.347,0.402,0.749,7.0,14.0,L,S.Manaea(62)
12,13.0,Apr 17,True,LAA,"W,3-0",32.0,29.0,3.0,9.0,2.0,0.0,0.0,3.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.268,0.346,0.400,0.747,5.0,10.0,R,J.Chavez(60)
13,14.0,Apr 18,True,LAA,"L,2-5",36.0,35.0,2.0,11.0,1.0,0.0,2.0,2.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.272,0.346,0.409,0.754,7.0,10.0,R,R.Nolasco(51)
14,15.0,Apr 19,True,LAA,"W,5-1",33.0,29.0,5.0,9.0,2.0,1.0,1.0,5.0,2.0,0.0,9.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.274,0.347,0.417,0.764,4.0,10.0,R,J.Ramirez(52)
15,16.0,Apr 20,True,LAA,"W,2-1",29.0,27.0,2.0,3.0,1.0,0.0,2.0,2.0,2.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.266,0.339,0.414,0.753,3.0,10.0,R,M.Shoemaker(68)
16,17.0,Apr 21,False,TBR,"W,6-3",39.0,35.0,6.0,11.0,3.0,0.0,1.0,5.0,3.0,0.0,9.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.269,0.340,0.419,0.759,6.0,10.0,R,A.Cobb(44)
17,18.0,Apr 22,False,TBR,"L,3-6",34.0,29.0,3.0,4.0,0.0,0.0,2.0,3.0,5.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.262,0.336,0.415,0.752,4.0,10.0,L,B.Snell(48)
18,19.0,Apr 23,False,TBR,"W,6-4",43.0,37.0,6.0,12.0,0.0,0.0,2.0,6.0,5.0,0.0,5.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.266,0.340,0.419,0.759,7.0,13.0,R,M.Andriese(45)
19,20.0,Apr 25,False,CLE,"W,4-2",38.0,36.0,4.0,11.0,2.0,0.0,0.0,4.0,1.0,0.0,8.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.268,0.340,0.416,0.756,7.0,12.0,R,J.Tomlin(50)
20,21.0,Apr 26,False,CLE,"L,6-7",40.0,36.0,6.0,8.0,2.0,0.0,2.0,6.0,3.0,0.0,13.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.266,0.338,0.418,0.756,7.0,9.0,R,T.Bauer(50)
21,22.0,Apr 27,False,CLE,"L,3-4",40.0,36.0,3.0,11.0,3.0,0.0,1.0,3.0,4.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.268,0.340,0.420,0.760,10.0,11.0,R,C.Kluber(55)
22,23.0,Apr 28,True,OAK,"W,9-4",41.0,36.0,9.0,14.0,4.0,0.0,1.0,9.0,2.0,0.0,5.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.273,0.343,0.428,0.771,8.0,9.0,R,J.Cotton(28)
23,24.0,Apr 29,True,OAK,"L,1-2",34.0,32.0,1.0,7.0,0.0,0.0,1.0,1.0,0.0,0.0,9.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.271,0.340,0.423,0.763,6.0,11.0,R,A.Triggs(76)
24,25.0,Apr 30,True,OAK,"W,7-2",36.0,33.0,7.0,10.0,2.0,0.0,1.0,7.0,1.0,0.0,8.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.272,0.340,0.425,0.765,5.0,9.0,R,J.Hahn(48)
26,26.0,May 1,True,TEX,"W,6-2",38.0,33.0,6.0,8.0,3.0,0.0,0.0,5.0,3.0,0.0,4.0,2.0,0.0,0.0,2.0,1.0,1.0,0.0,0.271,0.340,0.421,0.761,8.0,10.0,R,A.Cashner(55)
27,27.0,May 2,True,TEX,"W,8-7",38.0,35.0,8.0,11.0,1.0,0.0,3.0,8.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.273,0.341,0.428,0.769,6.0,10.0,L,A.Claudio(43)
28,28.0,May 3,True,TEX,"W,10-1",40.0,36.0,10.0,13.0,3.0,0.0,4.0,10.0,3.0,0.0,1.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.276,0.343,0.441,0.785,6.0,10.0,R,N.Martinez(21)
29,29.0,May 4,True,TEX,"L,4-10",47.0,35.0,4.0,10.0,1.0,0.0,1.0,4.0,10.0,0.0,11.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.277,0.347,0.440,0.787,16.0,10.0,R,A.Griffin(55)
30,30.0,May 5,False,LAA,"W,7-6",41.0,39.0,7.0,12.0,3.0,0.0,2.0,7.0,2.0,0.0,6.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.278,0.347,0.443,0.790,4.0,10.0,R,J.Chavez(55)

In [11]:
astros2017df.head()

,Gtm,Date,Home,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
0,1.0,Apr 3,True,SEA,"W,3-0",30.0,27.0,3.0,6.0,0.0,0.0,2.0,3.0,1.0,0.0,6.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.222,0.241,0.444,0.686,3.0,10.0,R,F.Hernandez(55)
1,2.0,Apr 4,True,SEA,"W,2-1",29.0,26.0,2.0,5.0,0.0,0.0,2.0,2.0,3.0,0.0,3.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,0.208,0.259,0.434,0.693,3.0,10.0,R,H.Iwakuma(55)
2,3.0,Apr 5,True,SEA,"W,5-3",55.0,51.0,5.0,13.0,4.0,0.0,1.0,5.0,3.0,0.0,9.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.231,0.277,0.413,0.690,12.0,11.0,L,J.Paxton(72)
3,4.0,Apr 6,True,SEA,"L,2-4",36.0,32.0,2.0,6.0,0.0,0.0,2.0,2.0,3.0,1.0,10.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.221,0.277,0.404,0.681,7.0,11.0,L,A.Miranda(50)
4,5.0,Apr 7,True,KCR,"L,1-5",33.0,30.0,1.0,6.0,1.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.217,0.276,0.373,0.650,5.0,10.0,L,J.Vargas(61)

In [12]:
astros2017df.tail()

,Gtm,Date,Home,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,#,Thr,Opp. Starter (GmeSc)
162,158.0,Sep 27,False,TEX,"W,12-2",45.0,43.0,12.0,16.0,3.0,0.0,3.0,12.0,2.0,0.0,5.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.282,0.345,0.479,0.824,6.0,14.0,R,N.Martinez(24)
163,159.0,Sep 28,False,BOS,"W,12-2",50.0,44.0,12.0,17.0,4.0,0.0,3.0,11.0,6.0,1.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.283,0.346,0.481,0.827,11.0,16.0,L,E.Rodriguez(23)
164,160.0,Sep 29,False,BOS,"W,3-2",36.0,33.0,3.0,6.0,1.0,0.0,1.0,3.0,3.0,1.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.282,0.346,0.480,0.825,6.0,11.0,R,D.Fister(50)
165,161.0,Sep 30,False,BOS,"L,3-6",37.0,33.0,3.0,8.0,1.0,0.0,1.0,3.0,4.0,0.0,8.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.282,0.346,0.479,0.825,7.0,11.0,L,D.Pomeranz(63)
166,162.0,Oct 1,False,BOS,"W,4-3",38.0,33.0,4.0,8.0,2.0,0.0,0.0,4.0,4.0,0.0,11.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.282,0.346,0.478,0.823,7.0,12.0,R,H.Velazquez(58)

In [13]:
astros2017df.describe()

,Gtm,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,#
count,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000,162.000000
mean,81.500000,38.709877,34.635802,5.530864,9.759259,2.135802,0.123457,1.469136,5.271605,3.141975,0.166667,6.709877,0.432099,0.067901,0.376543,0.382716,0.858025,0.604938,0.259259,0.277340,0.343216,0.466784,0.810000,6.753086,10.351852
std,46.909487,5.208309,4.268556,3.784855,3.726363,1.518033,0.365694,1.201308,3.587460,1.917125,0.449292,2.523633,0.658217,0.252356,0.610625,0.591196,0.883719,0.934886,0.480108,0.014624,0.016468,0.031483,0.043634,2.343384,1.554286
min,1.000000,29.000000,26.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.208000,0.241000,0.373000,0.650000,2.000000,9.000000
25%,41.250000,35.000000,32.000000,3.000000,7.250000,1.000000,0.000000,1.000000,3.000000,2.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.274000,0.343000,0.443250,0.785250,5.000000,9.000000
50%,81.500000,38.000000,34.000000,5.000000,9.000000,2.000000,0.000000,1.000000,5.000000,3.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.280000,0.346000,0.478000,0.823000,7.000000,10.000000
75%,121.750000,42.000000,37.000000,7.000000,11.750000,3.000000,0.000000,2.000000,7.000000,4.000000,0.000000,8.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.287000,0.351000,0.491000,0.842000,8.000000,11.000000
max,162.000000,55.000000,51.000000,19.000000,19.000000,7.000000,2.000000,6.000000,16.000000,10.000000,2.000000,13.000000,2.000000,1.000000,3.000000,2.000000,3.000000,5.000000,2.000000,0.293000,0.358000,0.505000,0.863000,16.000000,16.000000

In [14]:
astros2016df.OBP

0      0.263
1      0.308
2      0.289
3      0.298
4      0.310
       ...
162    0.319
163    0.319
164    0.319
165    0.319
166    0.319
Name: OBP, Length: 162, dtype: float64

In [15]:
# astros2016df.OBP.plot.line()
# astros2017df.OBP.plot.line()
# astros2018df.OBP.plot.line()
# astros2019df.OBP.plot.line();

In [16]:
# astros2017df.OBP.plot.line()
# yankees2017df.OBP.plot.line();

In [17]:
# yankees2017df.OBP.plot.line()

In [18]:
home = astros2017df.groupby("Home")

# GROUPBY WORK

In [19]:
home_obp = home.get_group().OBP

TypeError: get_group() missing 1 required positional argument: 'name'

In [ ]:
home_obp

In [ ]:
away_obp

In [ ]:
away_obp = home.get_group(False).OBP

In [ ]:
#home.get_group(True).OBP.plot.line()

In [ ]:
away_obp.plot.line()

## Is On Base Percentage (OBP) a rolling/weighted average? Can I parce HOME vs AWAY games? Should I consider a different stat like Strikeouts (SO)?

In [ ]:
home_obp.plot.line()